@mixin centerC($type: "both") {
    display: flex;
    flex-direction: column;
    @if $type == "vertical" {
      justify-content: center;
    } @else if $type == "horizontal" {
      align-items: center;
    } @else if $type == "both" {
      justify-content: center;
      align-items: center;
    }
  }
  
  @mixin centerR($type: "both") {
    display: flex;
    flex-direction: row;
    @if $type == "horizontal" {
        align-items: center;
    } @else if $type == "vertical" {
        justify-content: space-between;
    } @else if $type == "both" {
      justify-content: space-around;
      align-items: center;
    }
  }

  @mixin startCol($type: "both") {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10%;
    @if $type == "vertical" {
      justify-content: start;
    } @else if $type == "horizontal" {
      align-items: center;
    } @else if $type == "both" {
      justify-content: start;
      align-items: center;
    }
  }

  @mixin btn($type: 'btn') {
    border: 2px solid $btnColor;
    color: $btnColor;
    background-color: $footerTop;
    padding: 12px 17px;
    text-align: center;
    font-size: 110%;
    margin-top: 20px;
    font-weight: 700;
  }

  @mixin title($type: 'title') {
    font-size: 500%;
    font-weight: bold;
    color: $mainTitle;
  }

  @mixin sm-title($type: 'small') {
    font-size: 120%;
    color: $btnColor;
  }

  @mixin parag($type: 'paragraph') {
    line-height: 1.8rem;
      font-size: 120%;
      color: $secondTitle;
  }

 