// TYPOGRAPHY
// $main-font: "Montserrat", sans-serif;

// COLOR 
$firstTitle: white;
$secondTitle: #5E5E5D;
$mainTitle: #B1B1B1;
$footerDown: #161718;
$footerTop: #121314;
$footerText: #4f4e4e;
$btnColor: #BE945A;